{% extends "layout.html" %}

{% set file = 'dovesiamo.html' %}

{%block title%}Festa di Solidariet&agrave; &middot; Come raggiungerci{%endblock%}

{%block pagetitle%}Dove siamo{%endblock%}

{%block content%}
<p>L'evento si tiene a Monza, presso l'Oratorio Sant'Alessandro (via Sant'Alessandro 15), situato all'interno della <a href="http://www.parrocchieinsieme.org/parrocchia-sant-alessandro-monza.html">Parrocchia di Sant'Alessandro</a>.</p>
<p>In occasione della manifestazione, sar&agrave; disponibile un'ampia <strong>area parcheggio</strong> nei pressi dell'Oratorio.</p>
<div id="map" style="margin-top:1em; margin-bottom: 1em;"></div>

{%endblock%}

{%block sidebar%}
<div class="widget">
	<address>
		<strong>Oratorio Sant'Alessandro</strong><br>
		Via Sant'Alessandro, 15 <br>
		20900 Monza (MB)
	</address>
	<h4>Per informazioni:</h4>
	<address>
		<i class="fa fa-phone"></i> 377 2594264 <br>
		<i class="fa fa-envelope"></i> <a href="mailto:info@festasolidarieta.it">info@festasolidarieta.it</a><br>
		<i class="fa fa-facebook-square"></i> <a href="https://facebook.com/festasolidarieta">festasolidarieta</a>
	</address>
</div>
{%endblock%}
