{% extends "layout.html" %}

{% set file = '/' %}
{%block title%}Festa di Solidariet&agrave; &middot; Monza, 21 - 24 Maggio 2015{%endblock%}

{%block prenav%}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.3";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{%endblock%}

{%block header%}
<div id="head-carousel" class="carousel slide" data-ride="carousel" data-interval="7000">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#head-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#head-carousel" data-slide-to="1"></li>
		<li data-target="#head-carousel" data-slide-to="2"></li>
		<li data-target="#head-carousel" data-slide-to="3"></li>
	</ol>

	<div class="carousel-inner" role="listbox">
		<div class="active item one"></div>
		<div class="item two"></div>
		<div class="item three"></div>
		<div class="item four"></div>
	</div>
</div>

<script>
	TargetDate = "05/21/2015 4:00 PM GMT";
	CountActive = true;
	CountStepper = -1;
	DisplayFormat = "Iniziamo tra %D Giorni, %H Ore, %M Minuti e %S Secondi!";
	FinishMessage = "";
</script>

<header id="head">
	<div class="container">
		<div class="row jumbotron">
			<h1 class="lead">Festa di Solidariet&agrave;</h1>
			<p class="tagline">
				<strong>Monza &middot; Oratorio Sant'Alessandro &middot; 21 - 24 Maggio 2015</strong>
			</p>
			<p>
				Giochi, sport, leccornie e riflessioni sulla solidariet&agrave;.<br>
				Raccolta fondi a favore delle popolazioni di Haiti, 
				della missione di Tauca in Per&ugrave; e delle famiglie monzesi in difficolt&agrave;.
			</p>
			<p><span id="countdown" class="timer"></span></p>
			<script language="JavaScript" src="assets/js/countdown.js"></script>
			<p>
				<a class="btn btn-default" href="programma.html"><i class="fa fa-calendar"></i>&nbsp;Cosa facciamo</a>
                <a class="btn btn-default" href="progetti.html"><i class="fa fa-users"></i>&nbsp;Chi sosteniamo</a>
			</p>
		</div>
	</div>
</header>
{%endblock%}

{%block mainbody%}
<!-- Intro -->
<div class="container">
	<div class="row">
	<div class="col-md-8">
		<h2>Chi siamo</h2>
		<p>
La <strong>Festa di Solidariet&agrave;</strong> &egrave; una manifestazione,
nata a Maggio 2005, che ogni anno coinvolge diverse associazioni, enti e
agenzie della <strong>città di Monza</strong> in nome della solidariet&agrave;.
<br>
Si tratta di un evento che per un intero fine settimana coinvolge moltissimi
volontari presso l’oratorio di Sant’Alessandro, proponendo ai partecipanti
quattro giorni di <strong>divertimento, musica e sport non stop</strong>, oltre
ad attivit&agrave; come mostre, laboratori e un immancabile punto ristoro.
Lo scopo &egrave; duplice: <strong>raccogliere fondi</strong> da destinare ad
opere di solidariet&agrave; e <strong>sensibilizzare</strong> chi vi partecipa
su tematiche importanti.</p>
        <h2>Progetti</h2>
<p>Il ricavato di questa undicesima edizione della manifestazione andr&agrave; a
sostenere importanti progetti di solidariet&agrave; promossi da tre
realt&agrave; associative del territorio: <strong>San Vincenzo</strong>,
<strong>Operazione Mato Grosso</strong> e <strong>Sguardi ONLUS</strong>.
Operazione Mato Grosso utilizzerà i proventi per sostenere un'attivit&agrave;
di doposcuola presso la missione di Tauca, in Perù, mentre Sguardi ONLUS
sosterrà la piccola comunità haitiana di Tirivye (dove da quattro anni si trova
in missione don Giuseppe Grassini) con l'obiettivo di fornire ai bambini della
scuola un pasto al giorno.</p>

<div class="jumbotron text-center top-margin">
	<h2 class="title-font" style="margin-top:0">Uno Sguardo che si apre... verso l'orizzonte</h2>
	<p> Come di consueto, la Festa di Solidariet&agrave; offre uno spazio di
riflessione sui temi legati alla societ&agrave; attuale. In questa
<strong>undicesima edizione</strong> si ripercorrer&agrave; il cammino svolto
in questi anni dal punto di vista delle tematiche trattate e degli aiuti
concreti realizzati grazie ai numerosi partecipanti. <br>
Inoltre si avr&agrave; modo di approfondire il ruolo dell'alimentazione nel
mondo e nella nostra vita quotidiana, per tutta la durata dell'evento e in
particolare durante la serata di Gioved&igrave; 21 Maggio dal tema
"<strong>¿Only... You can eat? Puoi solo mangiare? - Il cibo come occasione di
riscatto sociale</strong>".
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="fb-page" data-href="https://www.facebook.com/festasolidarieta" data-width="350" data-height="650" data-hide-cover="true" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"></div></div>
	</div>
	</div>
</div>

<section class="container-full text-center top-space">
	<div id="map"></div>
</section>
{%endblock%}
