{% extends "layout.html" %}

{% set file = 'index.html' %}
{%block title%}Festa di Solidariet&agrave; &middot; Monza, 21 - 24 Maggio 2015{%endblock%}

{%block prenav%}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.3";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{%endblock%}

{%block header%}
    <script>
      TargetDate = "05/21/2015 4:00 PM GMT";
      CountActive = true;
      CountStepper = -1;
      LeadingZero = true;
      DisplayFormat = "Iniziamo tra %D Giorni, %H Ore, %M Minuti e %S Secondi!";
      FinishMessage = "";
    </script>
	<header id="head">
		<div class="container">
			<div class="row jumbotron">
				<h1 class="lead">Festa di Solidariet&agrave;</h1>
				<p class="tagline"><strong>Monza &middot; Oratorio Sant'Alessandro &middot; 21 - 24 Maggio 2015</strong></p>
				<p>Giochi, sport, leccornie e riflessioni sulla solidariet&agrave;.<br>
				Raccolta fondi a favore delle popolazioni di Haiti, 
				della missione di Tauca in Per&ugrave; e delle famiglie monzesi in difficolt&agrave;.</p>
				<p><span id="countdown" class="timer"></span></p>
				<script language="JavaScript" src="assets/js/countdown.js"></script>
				<p><a class="btn btn-default" href="programma.html"><i class="fa fa-calendar"></i> Cosa facciamo</a></p>
        	</div>
		</div>
	</header>
{%endblock%}

{%block mainbody%}
<!-- Intro -->
<div class="container text-center top-space">
	<div class="col-md-8">
		<div class="jumbotron">
			<h2 class="thin title-font">Uno Sguardo che si apre... verso l'orizzonte</h2>
			<p>
			Come di consueto, la Festa di Solidariet&agrave; offre uno spazio di riflessione sui temi legati alla societ&agrave; attuale. <br>
			In questa undicesima edizione si ripercorrer&agrave; il cammino svolto in questi anni dal punto di vista delle tematiche trattate e degli aiuti concreti realizzati grazie ai numerosi partecipanti. <br>
			Inoltre si avr&agrave; modo di approfondire il ruolo dell'alimentazione nel mondo e nella nostra vita quotidiana.
			</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="fb-page" data-href="https://www.facebook.com/festasolidarieta" data-width="350" data-height="650" data-hide-cover="true" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/festasolidarieta"><a href="https://www.facebook.com/festasolidarieta">Festa di Solidarietà</a></blockquote></div></div>
	</div>
</div>

<section class="container-full text-center top-space">
	<div id="map"></div>
</section>

{%endblock%}