{% extends "layout.html" %}

{% set file = '/' %}
{%block title%}Festa di Solidariet&agrave; &middot; Monza, 26 - 29 Maggio 2016{%endblock%}

{%block prenav%}
	<div id="fb-root"></div>
{%endblock%}

{%block header%}
<div id="head-carousel" class="carousel slide" data-ride="carousel" data-interval="7000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#head-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#head-carousel" data-slide-to="1"></li>
        <li data-target="#head-carousel" data-slide-to="2"></li>
        <li data-target="#head-carousel" data-slide-to="3"></li>
        <li data-target="#head-carousel" data-slide-to="4"></li>
        <li data-target="#head-carousel" data-slide-to="5"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="active item one"></div>
        <div class="item two"></div>
        <div class="item three"></div>
        <div class="item four"></div>
        <div class="item five"></div>
        <div class="item six"></div>
    </div>
</div>

<script>
    TargetDate = "05/26/2016 4:00 PM GMT";
    CountActive = true;
    CountStepper = -1;
    DisplayFormat = "Iniziamo tra %D giorni, %H Ore, %M Minuti e %S Secondi!";
    FinishMessage = "Grazie della partecipazione!!!";
</script>

<header id="head">
    <div class="container">
        <div class="row jumbotron">
            <h1 class="lead">XII Festa di Solidariet&agrave;</h1>
            <p class="tagline">
                <strong>Monza &middot; Oratorio Sant'Alessandro &middot; 26 - 29 Maggio 2016</strong>
            </p>
            <p>
                Giochi, sport, leccornie e riflessioni sulla solidariet&agrave;.<br>
                Raccolta fondi a favore delle popolazioni di Haiti, 
                della missione di Tauca in Per&ugrave; e dei ragazzi degli oratori del quartiere
            </p>
            <p><span id="countdown" class="timer"></span></p>
            <script language="JavaScript" src="assets/js/countdown.js"></script>
            <p>
                <a class="btn btn-default" href="programma.html"><i class="fa fa-calendar"></i>&nbsp;Cosa facciamo</a>
                <a class="btn btn-default" href="progetti.html"><i class="fa fa-users"></i>&nbsp;Chi sosteniamo</a>
            </p>
        </div>
    </div>
</header>
{%endblock%}

{%block mainbody%}
<!-- Intro -->
<div class="container">
    <div class="row">
    <div class="col-md-8">
        <h2>Chi siamo</h2>
        <p>
La <strong>Festa di Solidariet&agrave;</strong> &egrave; una manifestazione
nata a Maggio 2005 con l’obiettivo di raccogliere fondi per il sostentamento
delle attività di don Giuseppe Grassini, (ex coadiutore delle parrocchie San
Rocco – Sant’Alessandro) prete fidei donum, attualmente assegnato in una
parrocchia di Haiti dal 2010, dopo essere stato parroco di Lusitu nella diocesi
di Monze in Zambia dal 2004. <br>
Ogni anno, la manifestazione coinvolge diverse associazioni, enti e agenzie
della <strong>città di Monza</strong> in nome della solidariet&agrave;.
Si tratta di un evento che per un intero fine settimana impegna moltissimi
volontari presso l’oratorio di Sant’Alessandro, proponendo ai partecipanti
quattro giorni di <strong>divertimento, musica e sport non stop</strong>, oltre
ad attivit&agrave; come mostre, laboratori e un immancabile punto ristoro.
Lo scopo &egrave; duplice: <strong>raccogliere fondi</strong> da destinare ad
opere di solidariet&agrave; e <strong>sensibilizzare</strong> chi vi partecipa
su tematiche importanti.</p>
<h2>Progetti</h2>

<p>Il ricavato di questa dodicesima edizione (2016) andr&agrave; a sostenere
importanti progetti di solidarietà, vicini e lontani, promossi da tre
realt&agrave;gq del territorio: <strong>Operazione Mato Grosso</strong>,
<strong>Sguardi ONLUS</strong>, e gli <strong>oratori</strong> della
Comunit&agrave; Pastorale Santi Quattro Evangelisti di Monza. Operazione Mato
Grosso, a cui verrà devoluto il 40% del ricavato, utilizzer&agrave; i proventi
per sostenere la <strong>missione di Tauca</strong>, in Perù, mentre Sguardi ONLUS (40% del
ricavato) sosterr&agrave; la piccola <strong>comunità haitiana di Tirivye</strong>, dove da
quattro anni si trova in missione don Giuseppe Grassini. Gli oratori della
Comunità Santi Quattro Evangelisti (20% del ricavato) finanzieranno
l’iscrizione agli oratori estivi dei ragazzi le cui famiglie vertono in
situazioni economiche precarie.</p>
<p>Ulteriori dettagli si trovano nella pagina dedicata ai <a href="progetti.html">progetti.</a>

<div class="jumbotron text-center top-margin">
    <h2 class="title-font" style="margin-top:0">Dare la vita per...</h2>

<p> Come di consueto, la Festa di Solidariet&agrave; offre uno spazio di
riflessione sui temi legati alla societ&agrave; attuale. In questa dodicesima
edizione si ripercorrer&agrave; il cammino svolto in questi anni dal punto di
vista delle tematiche trattate e degli aiuti concreti realizzati grazie ai
numerosi partecipanti. <br>
Inoltre, si avr&agrave; modo di approfondire la storia di persone che hanno
dato la propria vita per gli altri, per tutta la durata dell'evento e in
particolare durante la serata e la mostra di <strong>Gioved&igrave; 26 maggio</strong>
dal tema <strong>"Non esiste amore pi&ugrave; grande di questo"</strong>.
</p>
</div>

</div>

<div class="col-md-4">
    <div class="fb-page" data-href="https://www.facebook.com/festasolidarieta" data-width="350" data-height="650" data-hide-cover="true" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"></div></div>
</div>
</div>
</div>

<section class="container-full text-center top-space">
    <div id="map"></div>
</section>
{%endblock%}
