{% extends "layout.html" %}

{% set file = 'menu.html' %}

{%block title%}Festa di Solidariet&agrave; &middot; La cucina propone...{%endblock%}

{%block pagetitle%}La cucina propone...{%endblock%}

{%block content%}

<h2>Gioved&igrave; sera</h2>
<ul class="food-list">
<li>Panino con Salamella</li>
<li>Panino con W&uuml;rstel</li>
<li>Patatine Fritte</li>
</ul>

<h2>Venerd&igrave;, Sabato e Domenica sera</h2>
<ul class="food-list">
<li>Panino con Salamella</li>
<li>Panino con W&uuml;rstel</li>
<li>Patatine Fritte</li>
<li>Gnocco Fritto</li>
<li>Fritto Misto di Pesce</li>
<li>Polenta liscia</li>
<li>Polenta con Gorgonzola</li>
<li>Polenta e Salamella</li>
<li>Polenta e W&uuml;rstel</li>
<li>Frittella</li>
<li>Fetta di Torta</li>
</ul>
<ul class="food-list">
    <li><strong>Solo il Sabato sera: Gnocchi al Pomodoro o al Gorgonzola</strong></li>
</ul>

<h2>Domenica Mezzogiorno</h2>
<p><strong>Menu completo</strong>, composto da:</p>
<ul class="food-list">
    <li>Casoncelli alla Bergamasca</li>
    <li>Costine</li>
    <li>Patate fritte</li>
    <li>Sorbetto</li>
</ul>
<p>In alternativa, <strong>menu vegetariano</strong>, composto da:</p>
<ul class="food-list">
    <li>Ravioli Burro e Salvia</li>
    <li>Tomino alla griglia</li>
    <li>Verdure Fresche</li>
</ul>
<p>Per il pranzo della domenica &egrave; gradita la prenotazione, da effettuarsi entro sabato sera.</p>
{%endblock%}

{%block sidebar%}
<div class="row widget">
	<img src="assets/images/cucina1.jpg" class="img-responsive img-thumbnail img-sidebar">
	<img src="assets/images/cucina2.jpg" class="img-responsive img-thumbnail img-sidebar">
	<img src="assets/images/cucina3.jpg" class="img-responsive img-thumbnail img-sidebar">
</div>
{%endblock%}
