{% extends "layout.html" %}

{% set file = 'menu.html' %}

{%block title%}Festa di Solidariet&agrave; &middot; La cucina propone...{%endblock%}

{%block pagetitle%}La cucina propone...{%endblock%}

{%block content%}
<div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-circle"></i>&nbsp;<strong>Le informazioni relative all'edizione 2016 saranno disponibili a breve</strong></div>

<h2>Gioved&igrave; sera</h2>
<ul class="food-list">
<li>Panino con Salamella <small>4&euro;</small></li>
<li>Panino con W&uuml;rstel <small>3,50&euro;</small></li>
<li>Patatine Fritte <small>2&euro;</small></li>
</ul>

<h2>Venerd&igrave;, Sabato e Domenica sera</h2>
<ul class="food-list">
<li>Panino con Salamella <small>4&euro;</small></li>
<li>Panino con W&uuml;rstel <small>3,50&euro;</small></li>
<li>Patatine Fritte <small>2&euro;</small></li>
<li>Gnocco Fritto <small>4&euro;</small></li>
<li>Fritto Misto di Pesce <small>8&euro;</small></li>
<li>Polenta liscia <small>2&euro;</smalL></li>
<li>Polenta con Gorgonzola <small>4&euro;</smalL></li>
<li>Polenta e Salamella <small>4&euro;</smalL></li>
<li>Polenta e W&uuml;rstel <small>3,50&euro;</smalL></li>
<li>Frittella <small>2&euro;</small></li>
<li>Fetta di Torta <small>2&euro;</small></li>
</ul>
<ul class="food-list">
    <li><strong>Solo il Sabato sera: Gnocchi al Pomodoro o al Gorgonzola <small>3,50&euro;</small></strong></li>
</ul>

<h2>Domenica Mezzogiorno: Pranzo meneghino</h2>
<p><strong>Menu completo: 10&euro;</strong></p>
<ul class="food-list">
    <li>Risotto <small>5&euro;</small></li>
    <li>Cotoletta alla Milanese <small>6&euro;</small></li>
    <li>Sorbetto <small>2&euro;</small></li>
</ul>
{%endblock%}

{%block sidebar%}
<div class="row widget">
	<img src="assets/images/cucina1.jpg" class="img-responsive img-thumbnail img-sidebar">
	<img src="assets/images/cucina2.jpg" class="img-responsive img-thumbnail img-sidebar">
	<img src="assets/images/cucina3.jpg" class="img-responsive img-thumbnail img-sidebar">
</div>
{%endblock%}
