{% extends "layout.html" %}

{% set file = 'menu.html' %}

{%block title%}Festa di Solidariet&agrave; &middot; La cucina propone...{%endblock%}

{%block pagetitle%}La cucina propone...{%endblock%}

{%block content%}
<div class="alert alert-info" role="alert">Bar e cucina saranno attivi durante tutta la manifestazione!</div>
<h2>Gioved&igrave; sera</h2>
<ul class="food-list">
<li>Salamelle</li>
<li>W&uuml;rstel</li>
<li>Patatine Fritte</li>
</ul>

<h2>Venerd&igrave;, Sabato e Domenica sera</h2>
<ul class="food-list">
<li>Salamelle</li>
<li>W&uuml;rstel</li>
<li>Patatine Fritte</li>
<li>Gnocco Fritto</li>
<li>Fritto Misto di Pesce</li>
<li>Polenta con Gorgonzola o Salamella</li>
<li>Frittelle</li>
<li><strong>Solo il Sabato sera: Gnocchi al Pomodoro o al Gorgonzola</strong></li>
</ul>

<h2>Domenica Mezzogiorno: Pranzo meneghino</h2>
<ul class="food-list">
<li>Risotto</li>
<li>Cotoletta alla Milanese</li>
<li>Sorbetto</li>
</ul>
{%endblock%}

{%block sidebar%}
<div class="row widget">
	<img src="assets/images/cucina1.jpg" class="img-responsive img-thumbnail img-sidebar">
	<img src="assets/images/cucina2.jpg" class="img-responsive img-thumbnail img-sidebar">
	<img src="assets/images/cucina3.jpg" class="img-responsive img-thumbnail img-sidebar">
</div>
{%endblock%}