{% extends "layout.html" %}

{% set file = 'progetti.html' %}

{%block title%}Festa di Solidariet&agrave; &middot; Cosa facciamo{%endblock%}

{%block pagetitle%}Progetti{%endblock%}

{%block content%}

<h2>Quest'anno sosteniamo...</h2>

<div class="alert alert-info top-margin"><i class="fa fa-exclamation-circle"></i>&nbsp;Le descrizioni dei progetti 2018 sono in fase di completamento.</div>

<h4><a name="sguardi-2018"></a>Sostegno agli insegnanti (missione di Haiti) <small>Sguardi ONLUS</small></h4>

<p><em>A questo progetto verrà destinato <b>il 40%</b> del ricavato della manifestazione.</em></p>

<h4><a name="omg-2018"></a>Sostegno per la misione di Celén <small>a cura di Operazione Mato Grosso</small></h4>
Celen, 09 di Maggio 2018

<p>Cari amici ,</p>

<p>sono Giulia Oriente, sono vicentina, e da Ottobre sono tornata al sud dell’Ecuador nella parrocchia “El Paraiso de Celen”, dove ero già stata per 2 anni (2015-2017).</p>
<p>Voi non mi conoscete personalmente... probabilmente  avete solo sentito parlare di me o del mio progetto da Martina; non mi conoscete e io non conosco voi e, proprio per questo, ancora di più mi viene da ringraziarvi per quello che cercate di fare! </p>
<p>Penso che non sia mai scontato aiutare o fare le cose senza cercare un tornaconto e, ancor di più, fidarsi ad occhi chiusi e aiutare chi non si conosce.</p>
<p>Provo a spiegarvi il progetto che desideriamo iniziare qui a Celen: aprire a settembre 2018 un collegio (taller) d’arte (cerámica e vetro) per le bambine di Celen e delle comunità piu povere intorno al centro. Funzionerà come un internato, dove le bambine (di circa 11-12-13 anni) si fermeranno a vivere tutta la settimana e torneranno a casa il sabato e domenica.</p>
<p>Anche se le cose qui in Ecuador stanno cambiando, e sempre piu bambini vanno a scuola,  ci sono ancora bambine che lasciano a metà gli studi  perchè i genitori non possono permettersi di mantenere tutti i figli (le famiglie sono ancora numerose); molte volte preferiscono mandare a studiare i maschi e, se mancano i soldi, tenere a casa le bambine perchè aiutino nei lavori, nel campo, con gli animali o ad accudire i fratellini più piccoli. </p>
<p>Così il desiderio è quello di poter offrire loro una scuola completamente gratuita.
Questo vuol dire preoccuparsi di dar loro tutto il materiale scolastico e artístico (quaderni, cancelleria, colori, pennelli, forno per la cerámica ecc.), ma anche tutto il necesario per la vita quotidiana (letti, lenzuola, viveri ecc.)</p>
<p>Ora siamo nella fase di preparazione: stiamo vedendo cosa manca, e cosa soprattutto a livello strutturale richiede una sistemazione. Useremo una struttura gia esistente, che fu occupata in precedenza da un altro taller. La spesa piu grossa a livello strutturale sara la costruzione del laboratorio  per tutta la parte artística, dove andranno messi i tavoli da disegno il forno per la cerámica ed eventuali altre macchine o strumenti, come il tornio. Nel corso dell’anno le spese piu grosse saranno per i viveri e lo stipendio di alcuni professori e assistenti, fino ad arrivare ad una spesa totale di circa 60.00 dollari l’anno!
Il collegio-taller durerà 6 anni. Pensavamo di cominciare con 25-30 bambine  e, se riusciamo, prenderne altre 30 il prossimo anno, portando alla fine le 2 promozioni. </p>
<p>La cosa piu bella che sto facendo ora e cercare le bambine, andare nelle loro comunita, nelle famiglie casa per casa e spiegare bene, invitarle a venire. È bello passare la giornata fuori, in mezzo alla gente, vedere come vive, da dove vengono le bambine, cercare di conoscere le loro famiglie e storie, commuovermi ancora vedendo la poverta e la miseria, alle quali ho sempre paura di abituarmi , ma che mi rinfacciano sempre quanto, anche stando qua, sono sempre io con i miei limiti, sempre io che non riesco a cambiare e convertirmi, sempre io piccola , egoísta, viziata dura e incapace di ringraziare per quanto sono fortunata e quindi, al finale, sempre io la piu “misera” di tutti perche non sono capace di voler bene e regalare la mia vita davvero senza freni.</p>
<p>Così il desiderio del “collegio-taller artístico, che nasce dietro al bisogno delle bambine, è anche quello di provare a dire un SI piu serio e profondo, che mi chiederà di fermarmi qui in Ecuador 7 anni o piu, nonostante le mille paure che mi vengono se mi fermo a pensare razionalmente con la testa.
La povertà che si vede entrando nelle loro case, non si vede rimanendo in centro paese dove vivo, ma c’è e bisogna uscire, far fática e camminare per vederla. Ad una prima vista distratta, quando le bambine vengono in centro la domenica  per la messa, vestite meglio che possono e pulite  (perche in centro tutti ti guardano e bisogna venire vestiti bene!), sembra tutto normale che quasi viene da dire “Beh, la gente qui non sta poi cosi male!” </p>
<p>Questo succede anche a me che sono qui da più tempo. La povertà va nascosta,  bisogna apparire. Basta uscire un po dal centro del paese per rendermi di nuovo conto di quanto sono cieca.
Mi fa paura, mi commuove e mi fa arrabbiare pensare a quello che le bambine vivono e vedono nelle loro case; case sporche e nere per il fumo della legna bruciata, piccoli buchi dove tutto è una grande confusione , tutto mescolato animali e persone, vestiti e pentole , mangiare, le loro poche cose ammontonate insieme, case senza pavimento solo terra battuta, dove piove dentro  e quando piove ogni giorno come in questa stagione, tutto diventa fango.</p>
<p>Una confusione che poi si riflette anche nella loro vita, dove non ci sono regole ed è tutto lo stesso : stare da sole a lungo perchè i genitori sono fuori a lavorare, arrangiarsi, poco tempo per essere “bambine”, dover diventare grandi in fretta, violenza, abusi, vedere il papà che torna spesso ubriaco o andare a cercarlo in giro per le strade e aspettare che si svegli per accompagnarlo a casa, vederlo picchiare la mamma o venire picchiate e forse voler essere grandi in fretta per andare via presto di casa, a 15 anni rimanere incinta ed essere abbandonate o spose di un uomo che molto spesso gli farà vivere la stessa vita delle loro mamme, e cosi la storia si ripete.  Gli uomini non sono dei cattivi papà, molto spesso lo diventano per l’alcool, che qui è ancora un problema grosso, e una maniera disperata  per scappare dai problemi .</p>
<p>
Così, per cercare di rompere questo cerchio forse, bisogna partire provando a offrirgli un tipo di educazione diversa, che non sia solo legata alla scuola ma sia anche una formazione umana quotidiana, dove ci vuole pazienza e puo far la differenza il tempo per stare con loro, un tempo che non sono solo le ore di scuola, ma anche il gioco, il lavoro,  mangiare insieme e le varie attività della casa, perchè si sentano accolte come in una grande famiglia. Un’ educazione che parli di carità, dove non conta tanto arrivare prime o essere le migliori, ma saper girarsi indietro per guardare chi ha più bisogno di noi, vivere un’amicizia buona e pulita, imparare un lavoro, seguendo lo stile del “método preventivo” di Don Bosco,  perchè“l’educazione è cosa di cuore”.</p>

<p><strong>Da sola, senza l’aiuto anche vostro, non potrei fare nulla, rimarrebbero solo parole, sogni, teoría. 
GRAZIE ANCORA!</strong></p>

<p>A presto</p>
<p><i>Giulia</i></p>

<p><em>A questo progetto verrà destinato <b>il 40%</b> del ricavato della manifestazione.</em></p>

<h4><a name="oratori-2018"></a>Sostegno per i ragazzi degli oratori</h4>

Gli oratori della Comunità Santi Quattro Evangelisti (a cui verr&agrave;
destinato il <strong>20% del ricavato</strong> della manifestazione)
utilizzeranno i soldi raccolti per permettere la partecipazione alle
attivit&agrave; degli oratori estivi ai ragazzi le cui famiglie vertono in
situazioni economiche precarie.

<h2>Gli anni scorsi abbiamo finanziato...</h2>

<h3><a name="progetti-2016"></a>Progetti 2017</h3>

<h4><a name="sguardi-2017"></a>Costruire una casa, costruire dignit&agrave; <small>Sguardi ONLUS</small></h4>

<p>Il ciclone che lo scorso ottobre si è abbattuto su Haiti, ha provocato molti morti, tanti danni e disagi alla popolazione, ed oggi, dopo cos&igrave; tanti mesi la popolazione non si &egrave; ancora risollevata dalla catastrofe. Ci sono ancora tante famiglie che sono senza casa, o con una casa così pericolante da non poter reggere ancora per molto. In questi mesi la Caritas parrocchiale ha fatto un intenso lavoro di una mappatura delle case più danneggiate e delle famiglie più povere, ed il numero degli interventi più urgenti è molto elevato, quest’anno <b>con la festa vorremo dare il nostro aiuto per costruire 2 o 3 case.</b></p>

<p>Le case tradizionali hanno una struttura molto semplice:
<ul>
    <li>Pali di sostegno della struttura</li>
    <li>Tetto di lamiera</li>
    <li>Muri fatti di arbusti intrecciati ricoperti di uno speciale fango argilloso</li>
    <li>Porte e finestre in legno</li>
</ul>
La struttura della casa è molto semplice ma &egrave; sufficiente e dignitosa per le famiglie locali che oggi non hanno le forze di costruire da soli una struttura simile.</p>
<p><b>Il costo di una singola casa si aggira intorno ai 1500 euro</b>, prezzo che potrebbe diminuire leggermente se la famiglia &agrave; in grado di contribuire in qualche modo alla costruzione con la manodopera o con la possibilità di reperire alcune delle materie prime necessarie.</p>
<p>Vi ringraziamo per il contributo che darete per costruire casa.</p>

<p><em>A questo progetto verrà destinato <b>il 40%</b> del ricavato della manifestazione.</em></p>

<h4><a name="omg-2017"></a>Sostegno per la misione di Celén <small>a cura di Operazione Mato Grosso</small></h4>
<p>Ciao Marty,</p>
<p>
Abbiamo ricevuto la tua lettera pochi mesi fa con cui ci chiedevi di che cosa avevamo più bisogno in questo momento. Come ben sai qui c’è sempre una grande necessità di tutto, ma abbiamo pensato di indirizzare i vostri bellissimi aiuti per gli <b>anziani e i malati cronici</b> che tu hai potuto conoscere e soprattutto aiutare.
Come molti di voi sanno lo Stato finanzia solo una parte dell’<b>assistenza sanitaria</b> e per questo motivo noi ci prendiamo carico di loro.</p>

<p>Le terapie a cui loro si devono sottoporre sono molto costose e devono essere svolte con una certa frequenza se no tutta la terapia perderebbe di senso. Anche una semplice medicina diventa una grossa spesa che non riescono a supportare. 
<b>In Ecuador un malato spende 200 dollari al mese per delle semplici visite di routine che sono equiparabili alle nostre visite dal medico di base.</b> Qualsiasi aiuto arriverà da voi vi ringraziamo già in anticipo perché sappiamo che almeno una persona riusciremo a sostenere. </p>

<p>Un grande abbraccio a te e a tutti i tuoi amici.</p>
<p>Ps: vi ringraziamo per aiutarci sempre… e noi anche se lontani, vi ricordiamo nelle nostre piccole preghiere. </p>
<p>Da: Adele, Franco e Stefania. </p>

<p><em>A questo progetto verrà destinato <b>il 40%</b> del ricavato della manifestazione.</em></p>

<h4><a name="oratori-2017"></a>Sostegno per i ragazzi degli oratori</h4>

Gli oratori della Comunità Santi Quattro Evangelisti (a cui verr&agrave;
destinato il <strong>20% del ricavato</strong> della manifestazione)
utilizzeranno i soldi raccolti per permettere la partecipazione alle
attivit&agrave; degli oratori estivi ai ragazzi le cui famiglie vertono in
situazioni economiche precarie.

<h3><a name="progetti-2016"></a>Progetti 2016</h3>

<div class="jumbotron">
<p>Grazie al ricavato della dodicesima edizione (2016), abbiamo sostenuto
importanti progetti promossi da tre realtà associative del territorio:
Operazione Mato Grosso, Sguardi ONLUS, e gli oratori della Comunità Santi Quattro Evangelisti.
<strong>Il ricavato totale (al netto
del totale delle spese sostenute per la manifestazione) &egrave; stato pari a
11.142,68 euro</strong>, ripartiti sui tre progetti sostenuti come segue:
4.457,00 euro all’Associazione Sguardi Onlus, 
4.457,00 euro all’Associazione Operazione Mato Grosso e 
2.228,68 euro agli Oratori della Comunità Pastorale Santi Quattro Evangelisti.
<strong>Grazie per la vostra generosit&agrave;!!!</strong></p>
</div>

<h4>Costruzione di cisterne per la raccolta dell'acqua <small>Sguardi ONLUS</small></h4>
<p>A questo progetto verr&agrave; destinato il <strong>40% del
ricavato</strong> della manifestazione. I soldi raccolti verranno utilizzati
per costruire delle <strong>cisterne d'acqua</strong> per una scuola nella
comunit&agrave; haitiana di Tirivyè.</p>
<p>Con il recente aumento dei prezzi (che potrebbero salire ancora, vista la
continua perdita di valore del Gourdes rispetto al Dollaro), il costo di una
singola cisterna &egrave; di circa <strong>2500/3000 Euro</strong>. A seconda
di quanto raccoglieremo, finanzieremo la costruzione di una o due cisterne.</p>
<p>Nelle foto in questa pagina, si pu&ograve; notare: come sono fatte le
cisterne, come bambini e adulti vanno a prendere l'acqua, e il secchio con
rubinetto che serve per lavarsi le mani a scuola.</p>

<p><b>Abbiamo raccolto 4.457,00 euro.</b></p>

<h4>Una cassetta degli attrezzi per il futuro <small>Operazione Mato Grosso</small></h4>

<p>Ecco la lettera  che abbiamo ricevuto dalla missione di Tauca. Abbiamo
sostenuto questo progetto durante la scorsa edizione della Festa di
Solidarietà, e lo continueremo a sostenere anche per quest’anno con il
<strong>40% del ricavato</strong> della manifestazione.</p>

<div class="jumbotron">
<p>Tauca, 17 Aprile 2016</p>
<p>Carissima Giulia, carissimi amici,</p>
<p>vi ringraziamo ancora per l’aiuto che ci avete dato l’anno scorso nel regalare
le cassette degli attrezzi ai ragazzi che hanno finito il “taller”. Dovevate
esserci per vedere ognuno l’emozione e la felicità nel ricevere la propria
cassettina.<br>
Dopo il taller si regala alcuni attrezzi di falegnameria ai giovani, perché
possano mettere in pratica quello che hanno imparato per 5 anni, e perché
possano difendersi. È un’attenzione che Padre Hugo, come padre spirituale, ha
avuto verso il futuro di questi ragazzi. Purtroppo qui di attrezzi
professionali non se ne trovano molti,  e comunque rimangono difficilmente
accessibili. Senza questo regalo molti – se non tutti – non potrebbero nemmeno
cominciare il proprio lavoro, rimarrebbero impotenti.<br>
Anche quest’anno una classe del taller di Tauca finisce il suo percorso
formativo a dicembre e anche per loro sarebbe importante ricevere la propria
cassetta degli attrezzi. Spero che possiate continuare ad aiutarci, se non per
le cassette, per lo meno per lo stipendio dei maestri di falegnameria (un
assistente prende circa 1200 soles al mese senza l’assicurazione). Immagino che
non sia semplice e vi chiediamo un grande sacrificio, per questo vi siamo molto
grati di quello che fate. Senza di voi ci troveremmo in gravi difficoltà.</p>
<p>Un grazie mille e un abbraccio da parte di Tauca e soprattutto dei ragazzi del
Taller</p>
</div>
<br>

<p>
Per saperne di pi&ugrave;:
</p>
<p>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
  Cosa contiene una cassetta degli attrezzi...
</button>
</p>

<p><b>Abbiamo raccolto 4.457,00 euro.</b></p>

<h4>Sostegno per i ragazzi degli oratori</h4>

Gli oratori della Comunità Santi Quattro Evangelisti (a cui verr&agrave;
destinato il <strong>20% del ricavato</strong> della manifestazione)
utilizzeranno i soldi raccolti per permettere la partecipazione alle
attivit&agrave; degli oratori estivi ai ragazzi le cui famiglie vertono in
situazioni economiche precarie.

<p><b>Abbiamo raccolto 2.228,68 euro.</b></p>

<h3><a name="progetti-2015"></a>Progetti 2015</h3>

<p>Il ricavato dell'undicesima edizione della Festa di Solidariet&agrave;
&egrave; servito a sostenere importanti progetti di solidarietà promossi da tre
realtà associative del territorio: San Vincenzo (per il sostentamento delle
famiglie monzesi in difficolt&agrave;), Operazione Mato Grosso e Sguardi ONLUS.
<strong>I fondi totali (al netto del totale delle spese sostenute per la
manifestazione) sono stati pari a 10.052,32 euro. Grazie!!!</strong></p>

<a name="sguardi"></a>
<h4>Andare a scuola per nutrire la mente e il corpo <small>Sguardi ONLUS</small></h4>

<p>Nei Paesi più poveri del pianeta andare a scuola è una doppia fortuna:
permette di conoscere tante cose e anche di potersi fermare a scuola per un
pasto al giorno garantito. Nella scuola di Tirivyè ci sono 220 bambini della
scuola materna ed elementare, che per i 10 mesi di scuola potranno avere la
certezza di mangiare almeno una volta al giorno. Nel rispetto delle loro
tabelle nutrizionali la dieta scolastica prevede</p>

<p class="text-center" style="font-weight: bold; font-size: 1.1em;">
RISO e FAGIOLI conditi con olio e spezie tutti i giorni. <br>
Il pranzo di 1 bambino a mensa costa 0.31 euro al giorno <br>
7.8 euro al mese, e 78 euro all’anno
</p>

<p>Non è un grande costo soprattutto se paragonato ai nostri pasti, o alle
nostre mense...</p>
<p>Aiutateci a raggiungere l’obbiettivo di garantire un pasto al giorno almeno
per i bambini della scuola!</p>
<p><b>Abbiamo raccolto 4020 euro.</b></p>

<!-- <div class="jumbotron">
<h5>Per chi vuole saperne di più</h5>
<p>dettagli dei costi della mensa scolastica per 220 bambini</p>

<table class="table table-condensed">
<thead>
    <tr>
        <th></th>
        <th>Al giorno</th>
        <th>Al mese (25 giorni)</th>
        <th>All'anno (10 mesi)</th>
    </tr>
</thead>
    <tr>
        <th scope="row">Riso</th>
        <td>42 euro</td>
        <td>1050 euro</td>
        <td>10500 euro</td>
    </tr>
    <tr>
        <th scope="row">Fagioli</th>
        <td>16 euro</td>
        <td>420 euro</td>
        <td>4200 euro</td>
    </tr>
    <tr>
        <th scope="row">Olio</th>
        <td>4,08 euro</td>
        <td>102 euro</td>
        <td>1020 euro</td>
    </tr>
    <tr>
        <th scope="row">Spezie (sale, ...)</th>
        <td>2,30 euro</td>
        <td>58 euro</td>
        <td>580 euro</td>
    </tr>
    <tr>
        <th scope="row">Detersivi</th>
        <td>0,2 euro</td>
        <td>5 euro</td>
        <td>50 euro</td>
    </tr>
    <tr>
        <th scope="row">Legna</th>
        <td>1,87 euro</td>
        <td>46,70 euro</td>
        <td>467 euro</td>
    </tr>
    <tr>
        <th scope="row">Fiammiferi</th>
        <td>0,09 euro</td>
        <td>2,30 euro</td>
        <td>23 euro</td>
    </tr>
    <tr>
        <th scope="row">Utensili da cucina</th>
        <td></td>
        <td>30 euro</td>
        <td>300 euro</td>
    </tr>
    <tr class="info">
        <th scope="row">Totale per 220 bambini</th>
        <td>68,56 euro</td>
        <td>1714 euro</td>
        <td>17140 euro</td>
    </tr>
</table>
</div>-->

<a name="omg"></a>
<h4>Una cassetta degli attrezzi per il futuro <small>Operazione Mato Grosso</small></h4>
<p>Tauca, aprile 2015</p>
<p>Con marzo sono ri-iniziate le attività pi&ugrave; legate alla scuola, visto
che qui ci sono due scuole secondarie parrocchiali (talleres) delle quali la
missione si occupa.</p>
<p>Sono internati dove studiano, imparano un lavoro (falegnameria e lavoro del
vetro) e vivono una settantina fra ragazzi e ragazze.</p>
<p>Questi ragazzi ricevono tutto gratuitamente. Dai quaderni alle lenzuola,
oltre che il cibo; vengono scelti fra i pi&ugrave; poveri, così che possano
ricevere un'istruzione dignitosa anche loro.</p>
<p>Il regolamento che si segue nei due internati &egrave; quello di Don
Bosco.</p>
<p>A dicembre di quest'anno  si promuoveranno 22 ragazzi e il desiderio
&egrave; quello di poter regalare loro una cassetta degli attrezzi che possa
permettere loro di svolgere il lavoro per cui hanno studiato anche
autonomamente.</p>
<p>Ogni cassetta ha il valore di circa 1000 euro.</p>
<!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
  Cosa contiene...
</button> -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Una cassetta degli attrezzi contiene...</h4>
      </div>
      <div class="modal-body">
        <ul>
            <li>Pialla Bailey media</li>
            <li>Sponderuola ferro 24</li>
            <li>Pialletto per sagomare</li>
            <li>Raschietto raseria in acciaio mm 140</li>
            <li>Serie sgorbie "Stubai" 18 pezzi</li>
            <li>Serie scalpelli 7 pezzi</li>
            <li>Livelle cm 40</li>
            <li>Flessometro m 3</li>
            <li>Squadra per falegnami mm 200</li>
            <li>Squadra per falegnami mm 400</li>
            <li>Compasso a punta regolabile</li>
            <li>Compasso per interni 150</li>
            <li>Compasso per esterni 150</li>
            <li>Sega mm 550</li>
            <li>Sega a dorso mm 300</li>
            <li>Seghetto ferro</li>
            <li>Martello Steelmaster</li>
            <li>Martello g 200</li>
            <li>Martello g 800</li>
            <li>Martello antirimbalzo g 600</li>
            <li>Pinza mm 180</li>
            <li>Tenaglia per falegnami mm 180</li>
            <li>Pietra per affilare</li>
            <li>Set punte per legno diametro mm 3/mm 10</li>
            <li>Falsa squadra mm 210</li>
            <li>Set cacciaviti mm 210</li>
            <li>Lima a triangolo per affilare</li>
            <li>Raspa 1/2 tonda</li>
            <li>Strettoio cm 30</li>
            <li>Strettoio cm 80</li>
            <li>Strettoio cm 120</li>
            <li>Punte in legno diametro mm 12</li>
            <li>Squadra da disegno 60°</li>
            <li>Squadra da disegno 45°</li>
            <li>Compasso da disegno</li>
            <li>Riga da disegno cm 50</li>
            <li>Trapano elettrico</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

<p><b>Abbiamo raccolto 4020 euro.</b></p>

<a name="sanvincenzo"></a>
<h4>Sostegno alle famiglie Monzesi <small>San Vincenzo</small></h4>
<p>
I soldi raccolti verranno utilizzati per sostenere le famiglie di
Monza in difficoltà. Ecco alcuni esempi di come sono stati utilizzati
i proventi nelle manifestazioni passate:
<ul>
<li>Spesa per rendere possiile la preparazione di circa 50 borse alimenti
ogni due settimane </li>
<li>Progetti di sostegno scolastico</li>
<li>Sostegno a ragazze madre e alle loro famiglie che spesso si fanno
carico della situazione</li>
<li>Pagamento spese mediche non mutuabili presso la farmacia di quartiere
e visite da specialisti</li>
<li>Pagamento di diverse utenze e riattivazione forniture di gas e corrente
elettrica sospese per morosità</li>
<li>Ripristino caldaie</li>
</ul>
</p>

<p><b>Abbiamo raccolto 2010 euro.</b></p>

<h3>Progetti 2014</h3>

<a name="omg-2014"></a>
<h5>Doposcuola a Tauca <small>Operazione Mato grosso</small></h5>
<p>Cari amici, <br>
il sogno di tutte le famiglie &egrave; quello di dare la
possibilit&agrave; ai propri figli di studiare...
e cos&igrave; ecco l'idea di offrire un doposcuola pomeridiano
all'interno della missione di Tauca in Per&ugrave;, grazie al
quale poterli accompagnare: un poco di rinforzo nello studio
e un luogo dove stare bene imparando a fare qualcosa.
</p>

<p>Le spese saranno:
<ul>
    <li>Pranzo per 30 bambini (2 volte a settimana): 300 S/.</li>
    <li>Materiale scolastico: 300 S/.</li>
    <li>Materiale per laboratori: 300 S/.</li>
    <li>Stipendio mensile per un docente (saranno tre docenti per otto mesi): 850 S/.</li>
</ul>
</p>

<p class="text-center" style="font-weight: bold; font-size: 1.1em;">
In totale 21300 S/., equivalenti a 6.086€
</p>

<p><strong>Abbiamo raccolto 4.400€.</strong></p>
<p>Abbiamo pagato:
<ul>
    <li>I pranzi: 300 S/.</li>
    <li>Il materiale scolastico: 300 S/.</li>
    <li>Il materiale per i laboratori: 300 S/.</li>
    <li>Lo stipendio completo a due docenti (13.600 S/.) e parziale a un docente (900 S/.)</li>
</ul>

<a name="sguardi-2014"></a>
<h4>Borse di studio Tirivy&egrave; <small>Sguardi ONLUS</small></h4>
<p>Tirivyè, 11 Febbraio 2014</p>
<p>
Carissimi,<br>
Haiti: sempre peggio!<br>
Ancora un omicidio per ragioni politiche: un attivista di una organizzazione per la difesa dei diritti civili e la moglie uccisi ieri, in pieno giorno, in un quartiere residenziale di Port-au-Prince.
Dalle nostre parti è già emergenza siccità.
</p>
<p>
Che fare?<br>
Cerchiamo di offrire la possibilità ai giovani di andare a scuola. Forse potrà aiutarli ad uscire dalla miseria e dall'ingiustizia!<br>
Ad Haiti il 92% delle scuole sono private. Chi non ha i soldi per pagare, non va a scuola. <br>
Ho i dati di circa seicento (!!!) studenti, provenienti dalle diverse zone della parrocchia, che avrebbero bisogno di essere aiutati a pagare la retta della scuola.</p>
<p>
Ogni studente deve prevedere per la retta di un intero anno scolastico (considerando il costo medio nelle varie scuole presenti nella zona di Tirivy&egrave;) una spesa di circa:
<ul>
<li> classe Septi&egrave;me ann&eacute;e fondamental (= 1^ media) = 4.000 Gourdes (= 72,22 Euro)</li>
<li>classe Huiti&egrave;me ann&eacute;e fondamental (= 2^ media) = 4.500 Gourdes (= 81,24 Euro)</li>
<li>classe Neuvi&egrave;me ann&eacute;e fondamental (= 3^ media) = 4.750 Gourdes (= 85,76 Euro)</li>
<li>classe Troisi&egrave;me &eacute;cole secondaire (= 1^ superiore) = 6.500 Gourdes (= 117,35 Euro)</li>
<li>classe Second &eacute;cole secondaire (= 2^ superiore) = 7.000 Gourdes (= 126,38 Euro)</li>
<li>classe Rh&eacute;torique (= 3^ superiore) = 7.750 Gourdes (= 139,92 Euro)</li>
<li>classe Philosophie (= 4^ superiore – ultimo anno) = 8.750 Gourdes (= 157,97 Euro)</li>
</ul>
(NB. 1 Euro = 55,39 Gourdes - cambio 11.02.14)
</p>
<p>
A partire dai soldi disponibili, potremo prevedere un certo numero di borse di studio per gli studenti di Tirivyè.
</p>
<p><b>Abbiamo raccolto 4400 euro.</b></p>
<p>Ragazzi sostenuti:
<ul>
<li>classe Septi&egrave;me ann&eacute;e fundamental (1^ media) = 72,22 Euro  <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Huiti&egrave;me ann&eacute;e fondamental ( 2^ media) = 81,24 Euro <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Neuvi&egrave;me ann&eacute;e fondamental (= 3^ media)= 85,76 Euro <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Troisi&egrave;me &eacute;cole secondaire (= 1^ superiore) = 117,35 Euro <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Second &eacute;cole secondaire (= 2^ superiore) = 126,38 Euro <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Rh&eacute;torique (= 3^ superiore) = 139,92 Euro <strong>SOSTENUTI 5 RAGAZZI</strong></li>
<li>classe Philosophie (= 4^ superiore – ultimo anno) = 157,97 Euro <strong>SOSTENUTI 5 RAGAZZI</strong></li>
</ul>
{%endblock%}

{%block sidebar%}
<div class="row widget">
    <div class="col xs-12 jumbotron">
        <h4>Progetti 2017</h4>
        <ul>
            <li><a href="#sguardi-2018">Sostegno agli insegnanti (missione di Haiti)</a></li>
            <li><a href="#omg-2018">Sostegno per la misione di Cel&eacute;n</a></li>
            <li><a href="#oratori-2018">Sostegno per i ragazzi degli oratori</a></li>
        </ul>
        <h4>Progetti delle precedenti edizioni</h4>
        <ul>
            <li><a href="#progetti-2017">Progetti 2017</a></li>
            <li><a href="#progetti-2016">Progetti 2016</a></li>
            <li><a href="#progetti-2015">Progetti 2015</a></li>
            <li><a href="#progetti-2014">Progetti 2014</a></li>
        </ul>
    </div>
</div>
<div class="row widget">
    <!-- <h4>Costruire una casa, costruire dignit&agrave;</h4>
    <img src="assets/images/sguardi-2017-1.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/sguardi-2017-2.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/sguardi-2017-3.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/sguardi-2017-4.jpg" class="img-responsive img-thumbnail img-sidebar"> -->
    <h4>Sostegno per la misione di Cel&eacute;n</h4>
    <img src="assets/images/omg-2018-1.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/omg-2018-2.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/omg-2018-3.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/omg-2017-3.jpg" class="img-responsive img-thumbnail img-sidebar">
</div>
{%endblock%}
