{% extends "layout.html" %}

{% set file = 'programma.html' %}

{%block title%}Festa di Solidariet&agrave; &middot; Cosa facciamo{%endblock%}

{%block pagetitle%}Cosa facciamo...{%endblock%}

{%block content%}
<div class="alert alert-info" role="alert"><i class="fa
fa-exclamation-circle"></i>&nbsp;<strong>Durante tutta la manifestazione
sar&agrave; attivo un servizio bar e cucina (<a href="menu.html">menu</a>)</strong>
</div>

<h2>Gioved&igrave; 21 Maggio 2015 <small>apertura ore 18</small></h2>
<ul class="prog">
<li><span class="prog-time">Ore 18.00</span>Apertura e tornei di pallavolo e calcio</li>
<li><span class="prog-time">Ore 19.30</span>Cena con accompagnamento musicale a cura del duo Alan&amp;Ford</li>
<li><span class="prog-time">Ore 21.00</span><strong>&iquest;Only... You can eat?</strong> Puoi solo mangiare? Cibo come occasione di riscatto sociale
</ul>
<h2>Venerd&igrave; 22 Maggio 2015 <small>apertura ore 18</small></h2>
<ul class="prog">
<li><span class="prog-time">Ore 18.00</span>Apertura bar</li>
<li>Tornei di Basket "Memorial Paolo Fontana", pallavolo e calcio femminile</li>
<li><span class="prog-time">Ore 19.00</span>Cena <small>a cura di <a href="http://www.asosanrocco.it">ASO San Rocco</a></small></li>
<li><span class="prog-time">Ore 20.00</span>Musica live con Gigi&amp;Ste</li>
<li>Coro "PochiMaGospel"</li>
<li><span class="prog-time">Ore 21.00</span>Pattinaggio artistico e in linea freestyle con <a href="http://www.astroskating.it">Astro Roller Skating</a></li>
</ul>
<h2>Sabato 23 Maggio 2015 <small>apertura ore 15</small></h2>
<ul class="prog">
<li><span class="prog-time">Ore 15.00</span>Apertura bar</li>
<li>Torneo di calcio</li>
<li>Spazio radio con C.G. Bussola</li>

<li>Banchetti della Solidariet&agrave;</li>
<li>Spazio Bimbi</li>
<li>Pattina con Astro <small>Roller Cross per tutti. Porta i tuoi pattini; se non li hai, li abbiamo noi!</small></li>

<li><span class="prog-time">Ore 16.00</span>Brontolo in Pentola <small>Laboratorio Creativo con la pasta di zucchero per bambini</small></li>
<li><span class="prog-time">Ore 16.30</span>Finali Torneo di pallavolo</li>
<li><span class="prog-time">Ore 17.30</span>Spettacolo Bolle di Sapone</li>

<li><span class="prog-time">Ore 19.00</span>Cena con servizio al tavolo <small>a cura di <a href="http://www.asosanrocco.it">ASO San Rocco</a></small></li>
<li><span class="prog-time">Ore 21.00</span>Esibizione di Baby Dance, Danza Moderna e Balli Caraibici con <a href="http://www.asosanrocco.it">ASO San Rocco</a>.</li>
<li>A seguire, balli per tutti con Dj Mario.</li>
<li><span class="prog-time">Ore 21.30</span>Si gioca al Dr. Why!</li>
</ul>

<h2>Domenica 24 Maggio 2015 <small>apertura ore 11</small></h2>
<ul class="prog">
<li><span class="prog-time">Ore 11.00</span>Messa della Solidariet&agrave; con raccolta viveri a favore della San Vincenzo</li>
<li><span class="prog-time">Ore 12.30</span>Pranzo Meneghino <small>servito dall'Associazione <a href="www.sguardionlus.it">SGUARDI Onlus</a></small></li>
<li><span class="prog-time">Ore 15.00</span>Apertura bar</li>
<li>Torneo di Calcio Amatoriale <small>iscrizione libera</small></li>
<li>Spazio Radio con C.G. Bussola</li>
<li>Banchetti della Solidariet&agrave;</li>
<li>Spazio Bimbi &amp; Laboratorio di Spille</li>
<li>Finali Tornei di Basket "Memorial Paolo Fontana"</li>
<li><span class="prog-time">Ore 16.00</span>Spettacolo di Giocoleria <small>organizzato dal gruppo OGM dell'Operazione Mato Grosso</small></li>
<li><span class="prog-time">Ore 19.00</span>Cena <small>a cura di <a href="http://www.asosanrocco.it">ASO San Rocco</a></small></li>
<li><span class="prog-time">Ore 20.30</span>Esibizione di danze cingalesi</li>
</ul>

<div class="alert alert-info top-margin"><i class="fa fa-exclamation-circle"></i>&nbsp;Il
    programma potrebbe subire variazioni per motivi tecnici. </div>
{%endblock%}

{%block sidebar%}
<div class="row widget">
	<div class="col-xs-12 jumbotron">
		<h4>&iquest;Only... you can eat? <small> Puoi solo mangiare?</small></h4>
		<h5>Il cibo come occasione di riscatto sociale</h5>
		<p><strong><li class="fa fa-calendar"></li>&nbsp;&nbsp;Gioved&igrave; 21 Maggio ore 21</strong></p>
		<div class="text-center">
			<p>Partecipano:
				<ul style="list-style-type: none; padding: 0;">
					<li><strong>don Roberto Davanzo</strong>, direttore Caritas Ambrosiana</li>
					<li>Comunit&agrave; Nuova Onlus <strong>I Dolci del Paradiso</strong> di Besana in Brianza</li>
					<li><strong>Vallescuria</strong> zafferaneto solidale di Veduggio con Colzano</li>
					<li>Bottega del <strong>Commercio equo e solidale</strong> di Monza</li>
				</ul>
			</p>
		</div>
	</div>
</div>
<div class="row widget">
	<div class="col-xs-12 jumbotron">
		<h4>Il Dr. Why?</h4>
		<img src="assets/images/logodrwhyweb.png" alt="Dr.Why?" style="width:100%; max-width:310px; padding:0.6em; margin: 0 auto; display: block;">
		<h5>gioco a quiz dal vivo con servizio pub</h5>
		<p><strong><li class="fa fa-calendar"></li>&nbsp;&nbsp;Sabato 23 Maggio ore 21.30</strong></p>
		<div class="text-center">
			<p>&egrave; gradita la prenotazione via SMS al 3398431909 oppure via email a <a href="mailto:drwhy@festasolidarieta.it">drwhy@festasolidarieta.it</a></p>
			<p>costo 5€ a partecipante</p>
		</div>
	</div>
</div>
<div class="row widget text-center">
	<div class="col-xs-12">
		<p>	<a class="btn btn-default" href="downloads/volantino-fds-2015.pdf"><i class="fa fa-download"></i>&nbsp;Scarica il pieghevole (.pdf, 1.8 MB)</a></p>
		<p style="margin-bottom: 0;"><a class="btn btn-default" href="downloads/locandina-fds-2015.pdf"><i class="fa fa-file"></i>&nbsp;Scarica la locandina (.pdf, 852 KB)</a></p>
	</div>
</div>
<div class="row widget">
	<img src="assets/images/giocoleria.jpg" class="img-responsive img-thumbnail img-sidebar">
	<img src="assets/images/drwhy.jpg" class="img-responsive img-thumbnail img-sidebar">
</div>
{%endblock%}
