{% extends "layout.html" %}

{% set file = 'progetti.html' %}

{%block title%}Festa di Solidariet&agrave; &middot; Cosa facciamo{%endblock%}

{%block pagetitle%}Progetti{%endblock%}

{%block content%}

<p>Stiamo preparando la nuova edizione della Festa! Aggiorneremo a breve queste
pagine con i progetti che sosterremo quest'anno</p>

<h2>L'anno scorso abbiamo finanziato...</h2>

<p>Il ricavato dell'undicesima edizione della Festa di Solidariet&agrave;
&egrave; servito a sostenere importanti progetti di solidarietà promossi da tre
realtà associative del territorio: San Vincenzo (per il sostentamento delle
famiglie monzesi in difficolt&agrave;), Operazione Mato Grosso e Sguardi
ONLUS. I fondi totali (al netto del totale delle spese sostenute per la
manifestazione) sono stati pari a 10.052,32 euro. Grazie!!!</p>

<a name="sguardi"></a>
<h3>Andare a scuola per nutrire la mente e il corpo <small>Sguardi ONLUS</small></h3>

<p>Nei Paesi più poveri del pianeta andare a scuola è una doppia fortuna:
permette di conoscere tante cose e anche di potersi fermare a scuola per un
pasto al giorno garantito. Nella scuola di Tirivyè ci sono 220 bambini della
scuola materna ed elementare, che per i 10 mesi di scuola potranno avere la
certezza di mangiare almeno una volta al giorno. Nel rispetto delle loro
tabelle nutrizionali la dieta scolastica prevede</p>

<p class="text-center" style="font-weight: bold; font-size: 1.1em;">
RISO e FAGIOLI conditi con olio e spezie tutti i giorni. <br>
Il pranzo di 1 bambino a mensa costa 0.31 euro al giorno <br>
7.8 euro al mese, e 78 euro all’anno
</p>

<p>Non è un grande costo soprattutto se paragonato ai nostri pasti, o alle
nostre mense...</p>
<p>Aiutateci a raggiungere l’obbiettivo di garantire un pasto al giorno almeno
per i bambini della scuola!</p>
<p class="text-right"><i>Grazie per la vostra generosità.</i></p>

<p class="text-right">Grazie!</p>
<p><b>Abbiamo raccolto 4020 euro.</b></p>

<div class="jumbotron">
<h4>Per chi vuole saperne di più</h4>
<p>dettagli dei costi della mensa scolastica per 220 bambini</p>

<table class="table table-condensed">
<thead>
    <tr>
        <th></th>
        <th>Al giorno</th>
        <th>Al mese (25 giorni)</th>
        <th>All'anno (10 mesi)</th>
    </tr>
</thead>
    <tr>
        <th scope="row">Riso</th>
        <td>42 euro</td>
        <td>1050 euro</td>
        <td>10500 euro</td>
    </tr>
    <tr>
        <th scope="row">Fagioli</th>
        <td>16 euro</td>
        <td>420 euro</td>
        <td>4200 euro</td>
    </tr>
    <tr>
        <th scope="row">Olio</th>
        <td>4,08 euro</td>
        <td>102 euro</td>
        <td>1020 euro</td>
    </tr>
    <tr>
        <th scope="row">Spezie (sale, ...)</th>
        <td>2,30 euro</td>
        <td>58 euro</td>
        <td>580 euro</td>
    </tr>
    <tr>
        <th scope="row">Detersivi</th>
        <td>0,2 euro</td>
        <td>5 euro</td>
        <td>50 euro</td>
    </tr>
    <tr>
        <th scope="row">Legna</th>
        <td>1,87 euro</td>
        <td>46,70 euro</td>
        <td>467 euro</td>
    </tr>
    <tr>
        <th scope="row">Fiammiferi</th>
        <td>0,09 euro</td>
        <td>2,30 euro</td>
        <td>23 euro</td>
    </tr>
    <tr>
        <th scope="row">Utensili da cucina</th>
        <td></td>
        <td>30 euro</td>
        <td>300 euro</td>
    </tr>
    <tr class="info">
        <th scope="row">Totale per 220 bambini</th>
        <td>68,56 euro</td>
        <td>1714 euro</td>
        <td>17140 euro</td>
    </tr>
</table>
</div>

<a name="omg"></a>
<h3>Una cassetta degli attrezzi per il futuro <small>Operazione Mato Grosso</small></h3>
<p>Tauca, aprile 2015</p>
<p>Con marzo sono ri-iniziate le attività pi&ugrave; legate alla scuola, visto
che qui ci sono due scuole secondarie parrocchiali (talleres) delle quali la
missione si occupa.</p>
<p>Sono internati dove studiano, imparano un lavoro (falegnameria e lavoro del
vetro) e vivono una settantina fra ragazzi e ragazze.</p>
<p>Questi ragazzi ricevono tutto gratuitamente. Dai quaderni alle lenzuola,
oltre che il cibo; vengono scelti fra i pi&ugrave; poveri, così che possano
ricevere un'istruzione dignitosa anche loro.</p>
<p>Il regolamento che si segue nei due internati &egrave; quello di Don
Bosco.</p>
<p>A dicembre di quest'anno  si promuoveranno 22 ragazzi e il desiderio
&egrave; quello di poter regalare loro una cassetta degli attrezzi che possa
permettere loro di svolgere il lavoro per cui hanno studiato anche
autonomamente.</p>
<p>Ogni cassetta ha il valore di circa 1000 euro.</p>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
  Cosa contiene...
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Una cassetta degli attrezzi contiene...</h4>
      </div>
      <div class="modal-body">
        <ul>
            <li>Pialla Bailey media</li>
            <li>Sponderuola ferro 24</li>
            <li>Pialletto per sagomare</li>
            <li>Raschietto raseria in acciaio mm 140</li>
            <li>Serie sgorbie "Stubai" 18 pezzi</li>
            <li>Serie scalpelli 7 pezzi</li>
            <li>Livelle cm 40</li>
            <li>Flessometro m 3</li>
            <li>Squadra per falegnami mm 200</li>
            <li>Squadra per falegnami mm 400</li>
            <li>Compasso a punta regolabile</li>
            <li>Compasso per interni 150</li>
            <li>Compasso per esterni 150</li>
            <li>Sega mm 550</li>
            <li>Sega a dorso mm 300</li>
            <li>Seghetto ferro</li>
            <li>Martello Steelmaster</li>
            <li>Martello g 200</li>
            <li>Martello g 800</li>
            <li>Martello antirimbalzo g 600</li>
            <li>Pinza mm 180</li>
            <li>Tenaglia per falegnami mm 180</li>
            <li>Pietra per affilare</li>
            <li>Set punte per legno diametro mm 3/mm 10</li>
            <li>Falsa squadra mm 210</li>
            <li>Set cacciaviti mm 210</li>
            <li>Lima a triangolo per affilare</li>
            <li>Raspa 1/2 tonda</li>
            <li>Strettoio cm 30</li>
            <li>Strettoio cm 80</li>
            <li>Strettoio cm 120</li>
            <li>Punte in legno diametro mm 12</li>
            <li>Squadra da disegno 60°</li>
            <li>Squadra da disegno 45°</li>
            <li>Compasso da disegno</li>
            <li>Riga da disegno cm 50</li>
            <li>Trapano elettrico</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

<p class="text-right">Grazie!</p>
<p><b>Abbiamo raccolto 4020 euro.</b></p>

<a name="sanvincenzo"></a>
<h3>Sostegno alle famiglie Monzesi <small>San Vincenzo</small></h3>
<p>
I soldi raccolti verranno utilizzati per sostenere le famiglie di
Monza in difficoltà. Ecco alcuni esempi di come sono stati utilizzati
i proventi nelle manifestazioni passate:
<ul>
<li>Spesa per rendere possiile la preparazione di circa 50 borse alimenti
ogni due settimane </li>
<li>Progetti di sostegno scolastico</li>
<li>Sostegno a ragazze madre e alle loro famiglie che spesso si fanno
carico della situazione</li>
<li>Pagamento spese mediche non mutuabili presso la farmacia di quartiere
e visite da specialisti</li>
<li>Pagamento di diverse utenze e riattivazione forniture di gas e corrente
elettrica sospese per morosità</li>
<li>Ripristino caldaie</li>
</ul>
</p>


<p class="text-right">Grazie!</p>
<p><b>Abbiamo raccolto 2010 euro.</b></p>

<h2>Due anni fa abbiamo finanziato...</h2>

<a name="omg-2014"></a>
<h3>Doposcuola a Tauca <small>Operazione Mato grosso</small></h3>
<p>Cari amici, <br>
il sogno di tutte le famiglie &egrave; quello di dare la
possibilit&agrave; ai propri figli di studiare...
e cos&igrave; ecco l'idea di offrire un doposcuola pomeridiano
all'interno della missione di Tauca in Per&ugrave;, grazie al
quale poterli accompagnare: un poco di rinforzo nello studio
e un luogo dove stare bene imparando a fare qualcosa.
</p>

<p>Le spese saranno:
<ul>
    <li>Pranzo per 30 bambini (2 volte a settimana): 300 S/.</li>
    <li>Materiale scolastico: 300 S/.</li>
    <li>Materiale per laboratori: 300 S/.</li>
    <li>Stipendio mensile per un docente (saranno tre docenti per otto mesi): 850 S/.</li>
</ul>
</p>

<p class="text-center" style="font-weight: bold; font-size: 1.1em;">
In totale 21300 S/., equivalenti a 6.086€
</p>

<p><strong>Abbiamo raccolto 4.400€.</strong></p>
<p>Abbiamo pagato:
<ul>
    <li>I pranzi: 300 S/.</li>
    <li>Il materiale scolastico: 300 S/.</li>
    <li>Il materiale per i laboratori: 300 S/.</li>
    <li>Lo stipendio completo a due docenti (13.600 S/.) e parziale a un docente (900 S/.)</li>
</ul>

<p class="text-right"><i>Grazie!</i></p>

<a name="sguardi-2014"></a>
<h2>Borse di studio Tirivy&egrave; <small>Sguardi ONLUS</small></h2>
<p>Tirivyè, 11 Febbraio 2014</p>
<p>
Carissimi,<br>
Haiti: sempre peggio!<br>
Ancora un omicidio per ragioni politiche: un attivista di una organizzazione per la difesa dei diritti civili e la moglie uccisi ieri, in pieno giorno, in un quartiere residenziale di Port-au-Prince.
Dalle nostre parti è già emergenza siccità.
</p>
<p>
Che fare?<br>
Cerchiamo di offrire la possibilità ai giovani di andare a scuola. Forse potrà aiutarli ad uscire dalla miseria e dall'ingiustizia!<br>
Ad Haiti il 92% delle scuole sono private. Chi non ha i soldi per pagare, non va a scuola. <br>
Ho i dati di circa seicento (!!!) studenti, provenienti dalle diverse zone della parrocchia, che avrebbero bisogno di essere aiutati a pagare la retta della scuola.</p>
<p>
Ogni studente deve prevedere per la retta di un intero anno scolastico (considerando il costo medio nelle varie scuole presenti nella zona di Tirivy&egrave;) una spesa di circa:
<ul>
<li> classe Septi&egrave;me ann&eacute;e fondamental (= 1^ media) = 4.000 Gourdes (= 72,22 Euro)</li>
<li>classe Huiti&egrave;me ann&eacute;e fondamental (= 2^ media) = 4.500 Gourdes (= 81,24 Euro)</li>
<li>classe Neuvi&egrave;me ann&eacute;e fondamental (= 3^ media) = 4.750 Gourdes (= 85,76 Euro)</li>
<li>classe Troisi&egrave;me &eacute;cole secondaire (= 1^ superiore) = 6.500 Gourdes (= 117,35 Euro)</li>
<li>classe Second &eacute;cole secondaire (= 2^ superiore) = 7.000 Gourdes (= 126,38 Euro)</li>
<li>classe Rh&eacute;torique (= 3^ superiore) = 7.750 Gourdes (= 139,92 Euro)</li>
<li>classe Philosophie (= 4^ superiore – ultimo anno) = 8.750 Gourdes (= 157,97 Euro)</li>
</ul>
(NB. 1 Euro = 55,39 Gourdes - cambio 11.02.14)
</p>
<p>
A partire dai soldi disponibili, potremo prevedere un certo numero di borse di studio per gli studenti di Tirivyè.
</p>
<p class="text-right">Grazie!</p>
<p><b>Abbiamo raccolto 4400 euro.</b></p>
<p>Ragazzi sostenuti:
<ul>
<li>classe Septi&egrave;me ann&eacute;e fundamental (1^ media) = 72,22 Euro  <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Huiti&egrave;me ann&eacute;e fondamental ( 2^ media) = 81,24 Euro <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Neuvi&egrave;me ann&eacute;e fondamental (= 3^ media)= 85,76 Euro <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Troisi&egrave;me &eacute;cole secondaire (= 1^ superiore) = 117,35 Euro <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Second &eacute;cole secondaire (= 2^ superiore) = 126,38 Euro <strong>SOSTENUTI 6 RAGAZZI</strong></li>
<li>classe Rh&eacute;torique (= 3^ superiore) = 139,92 Euro <strong>SOSTENUTI 5 RAGAZZI</strong></li>
<li>classe Philosophie (= 4^ superiore – ultimo anno) = 157,97 Euro <strong>SOSTENUTI 5 RAGAZZI</strong></li>
</ul>
{%endblock%}

{%block sidebar%}
<div class="row widget">
    <div class="col xs-12 jumbotron">
        <h4>Progetti 2015</h4>
        <ul>
            <li><a href="#sguardi">Andare a scuola per nutrire la mente e il
                corpo</a></li>
            <li><a href="#omg">Una cassetta degli attrezzi per il futuro</a></li>
            <li><a href="#sanvincenzo">Sostegno alle famiglie Monzesi</a></li>
        </ul>
        <h4>Progetti 2014</h4>
        <ul>
            <li><a href="#omg-2014">Doposcuola a Tauca</a></li>
            <li><a href="#sguardi-2014">Borse di studio Tirivy&egrave;</a></li>
        </ul>
    </div>
</div>
<div class="row widget">
    <h5>Andare a scuola per nutrire la mente e il corpo</h5>
    <img src="assets/images/sguardi-2015-1.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/sguardi-2015-2.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/sguardi-2015-3.jpg" class="img-responsive img-thumbnail img-sidebar">
    <h5>Una cassetta degli attrezzi per il futuro</h5>
    <img src="assets/images/omg-2015-1.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/omg-2015-2.jpg" class="img-responsive img-thumbnail img-sidebar">
    <img src="assets/images/omg-2015-3.jpg" class="img-responsive img-thumbnail img-sidebar">
</div>
{%endblock%}
