{% extends "layout.html" %}

{% set file = 'programma.html' %}

{%block title%}Festa di Solidariet&agrave; &middot; Cosa facciamo{%endblock%}

{%block pagetitle%}Cosa facciamo...{%endblock%}

{%block content%}
<div class="alert alert-info" role="alert"><i class="fa
fa-exclamation-circle"></i>&nbsp;<strong>Durante tutta la manifestazione
sar&agrave; attivo un servizio bar e cucina (<a href="menu.html">menu</a>)</strong>
</div>

<h2>Gioved&igrave; 24 Maggio 2018 <small>apertura ore 21.00</small></h2>
<ul class="prog">
    <li><span class="prog-time">Ore 21.00</span><strong>Insieme... al traguardo!</strong></li>
    <li>Video-storie raccontate da <b>Nando Sanvito</b>, giornalista sportivo.</li>
    <li>Presso il Salone dell'Oratorio di Sant'Alessandro.</li>
</ul>


<h2>Venerd&igrave; 25 Maggio 2018 <small>apertura ore 17.00</small></h2>
<ul class="prog">
    <li><span class="prog-time">Tornei</span>Ore 17.00 <i><i class="fa fa-futbol"></i>&nbsp;calcio</i>: Pulcini</li>
    <li>Ore 17.30 <i class="fa fa-basketball-ball"></i>&nbsp;<i>basket</i>: Aquilotti ed Esordienti</li>
    <li>Ore 17.30 <i class="fa fa-volleyball-ball"></i>&nbsp;<i>pallavolo</i>: Under 14 Femminile</li>
    <li><span class="prog-time">Ore 17.00</span>Apertura bar</li>
    <li><span class="prog-time">Ore 19.00</span>Apertura cucina <small>a cura di <a href="http://www.asosanrocco.it">ASO San Rocco</a></small></li>
    <li><span class="prog-time">Ore 20.30</span>Spettacolo di Pattinaggio Artistico <small>con Astro Roller Skating</small></li>
    <li><span class="prog-time">In prima e seconda serata...</span>Tornei serali:</li>
    <li><i class="fa fa-futbol"></i>&nbsp;Green Soccer 5vs5 (<a target="_blank" href="https://www.facebook.com/events/152682518880108/">info &amp; iscrizioni</a>)</li>
    <li><i class="fa fa-volleyball-ball"></i>&nbsp;Green Volley 4vs4 Misto (<a target="_blank" target="_blank" href="https://www.facebook.com/events/808228359386127/">info &amp; iscrizioni</a>)</li>
</ul>

<h2>Sabato 26 Maggio 2018 <small>apertura ore 15.30</small></h2>
<ul class="prog">
    <li><span class="prog-time">Tornei</span>Ore 15.30 <i><i class="fa fa-volleyball-ball"></i>&nbsp;pallavolo</i>: Under 14 Femminile</li>
    <li>Ore 15.45 <i><i class="fa fa-basketball-ball"></i>&nbsp;basket</i>: Aquilotti ed Esordienti</li>
    <li>Ore 16.30 <i><i class="fa fa-futbol"></i>&nbsp;calcio</i>: Pulcini</li>
    <li><span class="prog-time">Ore 15.30</span>Apertura bar</li>
    <li>Spazio Bimbi</li>
    <li>Spazio radio <small>con C.G. Bussola</small></li>
    <li>Piazza della Solidariet&agrave; <small>allestita dalle associazioni del quartiere</small></li>
    <li><span class="prog-time">Ore 17.30</span>SolidalStepFitness <small>con Fede Trainer</small></li>
    <li><span class="prog-time">Ore 18.30</span>Esibizione e prova di pattinaggio in linea</li>
    <li>... porta con te i tuoi pattini!! <small>con Astro Roller Skating</small></li>
    <li><span class="prog-time">Ore 19.00</span>Apertura cucina <small>a cura di <a href="http://www.asosanrocco.it">ASO San Rocco</a></small></li>
    <li><span class="prog-time">Ore 20.00</span>Esibizioni di ballo <small>con <a href="http://www.asosanrocco.it">ASO San Rocco</a></small></li>
    <li><span class="prog-time">Ore 21.30</span>Luciano Favara in concert + DJ Set</li>
    <li><span class="prog-time">In prima e seconda serata...</span>Tornei serali:</li>
    	<li><i class="fa fa-futbol"></i>&nbsp;Green Soccer 5vs5 (<a target="_blank" href="https://www.facebook.com/events/152682518880108/">info &amp; iscrizioni</a>)</li>
    	<li><i class="fa fa-volleyball-ball"></i>&nbsp;Green Volley 4vs4 Misto (<a target="_blank" href="https://www.facebook.com/events/808228359386127/">info &amp; iscrizioni</a>)</li>
    	<li><i class="fa fa-basketball-ball"></i>&nbsp;Street Basket 3vs3 (<a target="_blank" href="https://www.facebook.com/events/2016596998603028/">info &amp; iscrizioni</a>)</li>
</ul>

<h2>Domenica 27 Maggio 2018 <small>apertura ore 11.00</small></h2>
<ul class="prog">
    <li><span class="prog-time">Ore 11.00</span>S. Messa della Solidariet&agrave;</li>
    <li><span class="prog-time">Ore 12.30</span>Pranzo "Sapori di Sicilia" <small>a cura dell'Associazione <a href="www.sguardionlus.it">SGUARDI Onlus</a></small></li>
    <li><span class="prog-time">Ore 15.30</span><b>Finali Tornei Sportivi</b></li>
    <li><i><i class="fa fa-futbol"></i>&nbsp;calcio</i>: Pulcini</li>
    <li><i><i class="fa fa-basketball-ball"></i>&nbsp;basket</i>: Aquilotti ed Esordienti</li>
    <li><i><i class="fa fa-volleyball-ball"></i>&nbsp;pallavolo</i>: Under 14 Femminile</li>
    <li>Spazio Bimbi</li>
    <li>Spazio radio <small>con C.G. Bussola</small></li>
    <li>Piazza della Solidariet&agrave; <small>allestita dalle associazioni del quartiere</small></li>
    <li><span class="prog-time">Ore 16.00</span>Finali Torneo Calcio Balilla <small>Memorial Gianluca Merlo</small></li>
    <li><span class="prog-time">Ore 17.00</span>Concerto del Corpo Musicale “S. Damiano S. Albino Junior”</li>
    <li><span class="prog-time">Ore 18.30</span>Finali Torneo di <i class="fa fa-futbol"></i>&nbsp;Green Soccer 5vs5 (<a target="_blank" href="https://www.facebook.com/events/152682518880108/">info</a>)</b></li>
    <li><span class="prog-time">Ore 19.00</span>Apertura cucina <small>a cura di <a href="http://www.asosanrocco.it">ASO San Rocco</a></small></li>
    <li><span class="prog-time">Ore 21.00</span>Spettacolo di Magia</li>
</ul>

<div class="alert alert-info top-margin"><i class="fa fa-exclamation-circle"></i>&nbsp;Il
    programma potrebbe subire variazioni, anche impreviste, per motivi tecnici. </div>
{%endblock%}

{%block sidebar%}
<div class="row widget">
	<div class="col-xs-12 jumbotron">
        <h4><i class="fas fa-book"></i>&nbsp;Novità: Il Libr-aratto</h4>
        <h5>Volete sbarazzarvi di alcuni libri che non usate più? Ecco arrivata l’occasione perfetta!</h5>
        <p><strong>Presentati prezzo la Piazza della Solidarietà Sabato 25 dalle 15</strong></p>
        <p>Per tutta la durata della festa, potrai barattare i tuoi libri con altri di maggiore
interesse o del tuo autore preferito. Ricordati, però, di portare SOLO libri in buono stato
(no rotti, no scritti, o evidenziati) e non enciclopedie o libri scolastici</p>
        <p><i>I libri sono di chi li legge (Andrea De Carlo)</i></p>
	</div>
</div>

<div class="row widget">
    <div class="col-xs-12 jumbotron">
        <h4><i class="fas fa-film"></i>&nbsp;Mostra: Educare alla Vita</h4>
        <h5>Il decalogo della comunità educante</h5>
        <p>Un percorso in dialogo con e dentro
alcune realtà presenti sul territorio,
per comprendere dieci aspetti su cui si fonda una comunità che cresce “nell’apprendimento” e “nell’insegnamento” dell’incontro, dell’accoglienza e dell’apertura.</p>
    </div>
</div>

<div class="row widget">
    <h4>Fai girare la voce!</h4>
	<div class="col-xs-12 text-center">
		<p>	<a class="btn btn-default" href="downloads/pieghevole-fds-2018.pdf"><i class="fa fa-file"></i>&nbsp;Scarica il volantino con il programma</a></p>
		<!-- <p style="margin-bottom: 0;"><a class="btn btn-default" href="downloads/locandina-fds-2018.pdf"><i class="fa fa-file"></i>&nbsp;Scarica la locandina</a></p> -->
	</div>
</div>
<div class="row widget">
    <h4>Edizioni precedenti</h4>
    <ul>
        <li>Anno 2017: <a href="downloads/pieghevole-fds-2017.pdf">programma (.pdf)</a> - <a href="downloads/locandina-fds-2017.pdf">locandina (.pdf)</a></li>
    	<li>Anno 2016: <a href="downloads/pieghevole-fds-2016.pdf">programma (.pdf)</a> - <a href="downloads/locandina-fds-2016.pdf">locandina (.pdf)</a></li>
        <li>Anno 2015: <a href="downloads/volantino-fds-2015.pdf">programma (.pdf)</a> - <a href="downloads/locandina-fds-2015.pdf">locandina (.pdf)</a></li>
        <li>Anno 2014: <a href="downloads/volantino-fds-2014.pdf">programma (.pdf)</a> - <a href="downloads/locandina-fds-2014.pdf">locandina (.pdf)</a></li>
        <li>Anno 2013: <a href="downloads/volantino-fds-2013.pdf">programma (.pdf)</a> - <a href="downloads/locandina-fds-2013.pdf">locandina (.pdf)</a></li>
    </ul>
</div>
<div class="row widget">
	<img src="assets/images/giocoleria.jpg" class="img-responsive img-thumbnail img-sidebar">
	<img src="assets/images/drwhy.jpg" class="img-responsive img-thumbnail img-sidebar">
</div>
{%endblock%}
